<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/500.css">
    <title>Notes App</title>
</head>

<body>
    <div class="container">

        <div class="header">
            <h1>Some error occurred!</h1>
        </div>

        <div class="content">
            <p>We're working on fixing this, sorry for the inconvenience!</p>
            <a href="/home">Go to Home</a>
        </div>

    </div>
</body>

</html>