* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #272727;
}

.container {
  background-color: #fffce8;
  position: relative;
  display: flex;
  top: 10vh;
  width: 90vw;
  height: 80vh;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 2px 5px 2px 5px #0f0f0f;
}

.container .part1 {
  width: 70%;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d36135;
  border-radius: 8px 0px 0px 8px;
}
.part1 img {
  width: 300px;
}
.container .part2 {
  width: 30%;
  height: inherit;
  margin: 20px 90px;
}
.part2 > a {
  display: block;
  text-align: end;
  margin-top: 10px;
  margin-bottom: -20px;
}
.part2 h1 {
  margin: 20px 0px;
}
.part2 form {
  display: flex;
  flex-direction: column;
}

form input {
  padding: 0px 10px;
  font-size: 14px;
  color: #d36135;
  height: 30px;
  width: 350px;
  margin: 2px 0px 15px 0px;
  border-radius: 4px;
}

form button {
  cursor: pointer;
  height: 40px;
  width: 200px;
  background-color: #d36135;
  color: white;
  border-radius: 4px;
  margin: 15px auto;
}

form p {
  text-align: center;
}

form p a {
  color: #7785ac;
  text-decoration: none;
}

@media (max-width: 450px) {
  .container {
    flex-direction: column;
    width: 80vw;
    height: fit-content;
    padding-bottom: 20px;
    margin-bottom: 80px;
  }

  .container .part1 {
    width: 100%;
    border-radius: 8px 8px 0px 0px;
  }
  .part1 img {
    width: 40%;
    margin: 20px;
  }
  .container .part2 {
    width: 100%;
    height: inherit;
    margin: 0;
    padding: 40px;
  }

  .part2 > a {
    margin-top: -10px;
    margin-bottom: -20px;
  }

  .part2 h1 {
    font-size: 1.6rem;
    margin: 25px 0px;
  }

  form input {
    padding: 0px 10px;
    height: 35px;
    width: 90%;
  }
}
